.newsletter
    background-repeat: no-repeat;
    background-size: cover;
    max-width 1170px
    padding: 0 15px
    margin: 0 auto

    @media(max-width:992px)
        padding: 15px

    h1
        font-size: 25px
        color: #fff
        text-transform: uppercase;
        text-align: center;
        margin: 0 auto;
        font-weight: 100;
        letter-spacing: 0.3125rem;

    h2
        margin: 0 auto
        text-align: center
        color: #fff
        margin-top: 10px

    .container
        padding: 50px 0;

.wysija-input
    height: 50px!important
    background: #fff!important
    border: 1px solid #888282!important
    padding-left: 10px!important
    color: #424040!important
    font-style: normal!important
    font-size: 13px!important
    max-width: 100%!important
    width: 100%!important
    border-radius: 0px!important
    margin-bottom 15px!important
    font-style: italic!important
    font-size: 11px!important

    &::placeholder
        color: #424040!important
        font-style: italic!important
        font-size: 11px!important

    @media(max-width:992px)
        max-width: 100%!important

.wysija-submit.wysija-submit-field
    width: 100%!important
    height: 50px!important
    background: #4bbb50!important
    color: #fff!important
    text-transform: uppercase!important
    font-weight: 700!important
    font-size: 11px!important 
    border-radius: 0px!important
    margin: 0!important
    border: 1px solid #272626!important

 

.wysija-paragraph
    flex: 0 0 100%!important

    @media(max-width: 992px)
        flex:  0 0 100%!important

.form--news
    margin-top: 20px;

    form
        display: flex!important
        align-items: center
        justify-content: center
        flex-wrap: wrap
        max-width: 50%
        margin: 0 auto

        @media(max-width: 991px)
            max-width 100%


.formError .formErrorContent
    background: none repeat scroll 0 0 #8E2121!important
    border: 1px solid #BBBBBB!important
    color: #FFFFFF!important
    font-family: 'Poppins', sans-serif!important
    font-size: 11px!important
    padding: 4px 10px!important
    position: relative!important
    z-index: 5001!important
    margin-top: 80px !important
    width: 222px !important
    margin-left: 0 !important
    left: -227px!important
    margin-left: 0!important


.widget_wysija_cont .allmsgs .updated
    background: none!important
    border: none!important
    margin: 0 auto!important
    text-align: center!important
    color: #fff!important
    text-transform: uppercase!important
    font-weight: 700!important
    margin-top: -100px!important
